body {
    background-color: #fcfcfc;
}

.container {
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #eadde8;
    border-radius: 20px;
}

.sidebar {
    width: 250px;
    float: left;
    padding: 20px;
    margin-top: 120px;
}

h1, h2 {
    font-family: "Varela Round", serif;
}

h3, h4, p {
    font-family: "Atkinson Hyperlegible", serif;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;     
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;   
}

h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
}

h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;   
}