body {
    background-color: #fcfcfc;
}

.container {
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #eadde8;
    border-radius: 20px;
}

.sidebar {
    width: 250px;
    float: left;
    padding: 10px;
    margin-top: 20px;
}