html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
    font-family: "Atkinson Hyperlegible", serif;
    scroll-behavior: smooth;
    padding: 0px;
}

.container {
    display: flex;
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #eadde8;
    border-radius: 20px;
}

h1, h2 {
    font-family: "Varela Round", serif;
}

h3, h4, p {
    font-family: "Atkinson Hyperlegible", serif;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;     
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;   
}

h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
}

h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;   
}

nav {
    background-color: coral;
    padding: 5px;
    filter: drop-shadow(5px 5px 6px #d1d1d1);
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

.menu-container li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}